body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

.header,
.one,
.footer {
    background-color: #1F2937;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header a,
.one p {
    font-size: 18px;
    color: #E5E7EB;
}

.one p {
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.four {
    padding: 20px;
}

.four div {
    background-color: #3882F6;
}

.four button {
    background-color: #3882F6;
}

.two .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.three {
    background-color: #E5E7EB;
}

.quote {
    font-size: 26px;
    font-weight: 100;
    font-style: italic;
}

.header {
    display: flex;
    justify-content: space-between;
}